body {
    background-color: aqua;
    margin: 0;
}
.DrumContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 410px;
    background-color: crimson;
}
.CymbalsContainer { /*contiene todos los cymbals*/
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: 303px;
    background-color: burlywood;
    
}
.CymbalsDown{
    margin-top: 18px;
}

.Cymbals {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81.82px;
    height: 80px;
    border: 5px solid #0CEF8B;
    background-color: #291C45;
    transform: rotate(-23deg);
}
.DrumBorder { /* aporta color, tamaño y borde de los elementos de la batería en todo DrumContainer*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 6px solid #0CEF8B;
}
.ondas1{
    display: flex;
    justify-content: center;
    height: 55px;
    width: 55px;
    opacity: 50%;
}
.ondas1border {/*aporta el color, borde de las ondas de los cymbals*/
    margin: auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: #0CEF8B solid;
    border-bottom: #0CEF8B solid;
    margin-left: 2px;
    transform: rotate(40deg);
}
.ondas2 {
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: auto;
    border: 3px solid transparent;
    border-left: #0CEF8B solid;
    border-bottom: #0CEF8B solid;
}
.ondas3 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: auto;
    border: 3px solid transparent;
    border-left: #0CEF8B solid;
    border-bottom: #0CEF8B solid;
}   
.CymbalsMedium {
    width: 31.91px;
    height: 31.2px;  
    border-radius: 50%;
    background-color: #0CEF8B;
    position: absolute;
    margin-left: 3px;
}
.SmallDrumsContainer {
    height: 81px;
    width: 196px;
    background-color: blueviolet;
}
.BigDrumsContainer {
    height: 162px;
    width: 306px;
    background-color: coral;
}
