body {
    margin: 0;
    padding: 0;
    background-color: #191227;
}

main {
    margin-top: 240px;
    color: white;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}



/* ----- TEXT STYLES ----- */

.homeTitles {
    color: #96E5C3;
    font-weight: 100;
}

.homeTextCenter {
    text-align: center;
}

.homeTextRight {
    text-align: right;
    flex-grow: 1;
}

.homeTextLeft {
    text-align: left;
    flex-grow: 1;
}



/* ----- CONTAINER STYLES ----- */

.homeFlex {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 16px;
}

.homeGreenContainer {
    border: solid 2px #0CEF8B;
}

.homeContainerNoneR {
    border-right: none;
}

.homeContainerNoneL {
    border-left: none;
}

.homePaddingL {
    padding-left: 16px;
}

.homePaddingR {
    padding-right: 16px;
}

.homeContainerOrder {
    order: 2;
}

.homeMarginTop {
    margin-top: 40px;
}

.homeMarginBottom {
    margin-bottom: 60px;
}

.homeHalfBorder {
    margin: 0;
    display: none;
}

/* ----- IMG STYLES ----- */

img[src*="bateria"], img[src*="piano"] {
    max-width: 141px;
    max-height: 141px;
    height: 100%;
    display: block;
}

.homeFlex:hover img[src*="bateria"], .homeFlex:hover img[src*="piano"] {
    filter: saturate(0%) brightness(200%);
}



/* ----- MEDIA QUERY ----- */
@media (max-width: 304px) {
    .homeFlex {
        flex-wrap: wrap;
    }
}
@media (orientation: landscape){
    main{
        margin-top: 0;
        margin-left: 120px;
    }
}

@media (min-width: 375px) {
    .homePianoContainer, .homeDrumContainer {
        flex-grow: 1;
    }
}

@media (min-width: 767px) {
    main {
        margin-left: 0px;
        margin-top: 184px;
    }

    header {
        position: absolute!important;

    }

    .homeFlex {
        gap: 48px;
    }

    .homeContainerNoneT {
        border-top: none;
        padding-top: 2px;
    }

    .homeContainerNoneB {
        border-bottom: none;
        padding-bottom: 2px;
    }

    .homeHalfBorder {
        display: block;
        width: 45%;
        max-width: 240px;
        background-color: #0CEF8B;
        border-color: #0CEF8B;
    }

    .homeHalfBorderR {
        margin-left: auto;
    }

    .homeText {
        font-size: 2em;
        max-width: 20ch;
    }

    img[src*="bateria"], img[src*="piano"] {
        max-width: 230px;
        max-height: 230px;
        width: 230px;
        height: 230px;
    }

    .homeMarginLAuto {
        margin-left: auto;
    }

    .homeTitles {
        font-size: 2em;
    }

    .homeTextCenter {
        font-size: 2.2em;
        margin-bottom: 16px;
    }
}