body{
    background-color: #291C45;
        
}

h2{
    color: #82C4AA;
    text-align: center;
}




form {
    border: 3px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-flex;
    border-left: 5px solid #82C4AA;
    box-sizing: border-box;
    
    

  }

  
  

  .registerButton {
    background-color:#96E5C3;
    color: white;
    padding: 14px 20px;
    margin: 20px 0px 40px 0px;
    border: none;
    cursor: pointer;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 18px;
    margin: auto;
   
  }
  

  button:hover {
    opacity: 0.8;
  }

  .play{
    width: 20px;
  }
  
  .loginRegistro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    list-style-type: none;
    color: white;
  }

  .registro{
    color: #82C4AA;
  }

  p{
    color: white;
}
  

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  

  img.logo {
    width: 40%;
    border-radius: 50%;
  }
  

  .container {
    padding: 16px;
  }
  
  