body,header {
    padding: 0;
    margin: 0;
}

header {
    background-color: #191227;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 45px;
}

header img#logo {
    width: 215px;
}

header div:nth-of-type(1) {
    margin: 20px 10% 0 0;
    padding: 0;
    width: 90%;
    height: 1px;
    background-color: #0CEF8B;
}

header nav#navigation {
    background-color: #191227;
    width: 80%;
}

header nav#navigation ul {
    border-right: #0CEF8B 1px solid;
    width: 80%;
    list-style-type: none;
    padding: 10px 10%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav#navigation ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav#navigation ul li button {
    background-color: #191227;
    border: #0CEF8B 1px solid;
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

header nav#navigation ul li button img {
    width:25px;
}

header nav#navigation ul li label {
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
}


header div:nth-of-type(2) {
    margin: 0 10% 0 15%;
    padding: 0;
    border-top: #0CEF8B 1px solid;
    border-left: #0CEF8B 1px solid;
    height: 10px;
    width: 75%;
}
header div:nth-of-type(3) {
    margin: 0 50% 0 15%;
    padding: 0;
    border-top: #0CEF8B 1px solid;
    border-right: #0CEF8B 1px solid;
    height: 15px;
    width: 35%;
}

header nav#navigation ul li button:hover {
    border: #FFFFFF 1px solid;
}

@media screen and (max-width:767px){
    header.shrink {
        animation: shrinkNavbar 0.4s ease-in-out;
        animation-fill-mode: forwards;
    }
    header img#logo.shrink,  header div:nth-of-type(1).shrink, header div:nth-of-type(3).shrink {
        animation: disappearNavbar 0.4s ease-in-out;
        animation-fill-mode: forwards;
    }
    header nav#navigation ul.shrink {
        animation: disappearBorder 0.4s ease-in-out;
        animation-fill-mode: forwards
    }
    header div:nth-of-type(2).shrink {
        animation: adjustWidth 0.4s ease-in-out;
        animation-fill-mode: forwards
    }
}

@media screen and (orientation: landscape) and (max-width:767px){
    header {
        width: 136px;
        height: 100vh;
        padding:0;
        margin:0;
        justify-content: center;
    }
    header img#logo {
        width: 111px;
        padding-left: 20px;
    }
    header div:nth-of-type(1) {
        margin: 10px 10% 0 0;
    }

    header nav#navigation ul {
        width: 80%;
        padding: 10px 10%;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap:4vh;
    }
    header div:nth-of-type(2) {
        height: 5px;
        border-left:none;
    }
    header div:nth-of-type(3) {
        border-right: none;
    }
}

@media screen and (min-width:768px){
    header {
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        padding-top: 45px;
    }
    header div:nth-of-type(1) {
        order:-1;
        margin: 0 10% 0 10%;
        width: 80%;
        height: 1px;
    }
    header nav#navigation {
        width: 40%;
    }
    header nav#navigation ul {
        border-right: none;
    }
    header div:nth-of-type(2) {
        margin: 0 15% 0 15%;
        width: 60%;
    }
    header div:nth-of-type(3) {
        margin: 0 50% 0 15%;
        padding: 0;
        border-top: #0CEF8B 1px solid;
        border-right: #0CEF8B 1px solid;
        height: 15px;
        width: 25%;
    }

    
}

@keyframes shrinkNavbar{
    0%{
        padding-top: 45px;
    }
    100%{
        padding-top: 0;
    }
}

@keyframes disappearNavbar{
    0%{
        opacity:100%;
        transform: scale(1,1);
    }
    100%{
        height: 0;
        opacity: 0%;
        transform: scale(1,0);
    }
}

@keyframes disappearBorder{
    0%{
        width: 75%;
    }
    100%{
        border-right:none;
        border-left:none;
    }
}

@keyframes adjustWidth {
    0%{
        margin: 0 10% 0 15%;
    }
    100%{
        margin: 0 10% 0 10%;
        border-right:none;
        border-left:none;
    }
}
