body,header {
    padding: 0;
    margin: 0;
}

header {
    top:0;
    background-color: #191227;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 45px;
    position: fixed;
    z-index:3;
}

header img#logo {
    width: 215px;
}

header div:nth-of-type(1) {
    margin: 20px 10% 0 0;
    padding: 0;
    width: 90%;
    height: 1px;
    background-color: #0CEF8B;
}

header nav#navigation {
    background-color: #191227;
    width: 80%;
}

header nav#navigation ul {
    border-right: #0CEF8B 1px solid;
    width: 80%;
    list-style-type: none;
    padding: 10px 10%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav#navigation ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

header nav#navigation ul li button {
    background-color:#191227;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    border: #0CEF8B 1px solid;
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

header nav#navigation ul li button:hover {
    background-color: #514865;
}

#navButtonPiano {
    background: url(../img/navIconPiano.svg);
}

#navButtonPiano:hover {
    background: url(../img/navIconPianoHover.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    border: #ffffff 1px solid;
}

#navButtonDrums {
    background: url(../img/navIconDrums.svg);
}

#navButtonDrums:hover {
    background: url(../img/navIconDrumsHover.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    border: #ffffff 1px solid;
}

#navButtonUser {
    background: url(../img/navIconUser.svg);
    z-index: 3;
}

#navButtonUser:hover {
    background: url(../img/navIconUserHover.svg);
    background-size: 25px 25px;
    border: #ffffff 1px solid;
    background-repeat: no-repeat;
    background-position: center;
}

#dropdownContent {
    position: absolute;
    background-color: #514865;
    width: 50px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border: #0CEF8B 1px solid;
}

#dropdownContent a {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 8px;
    background-color: #514865;
    border-right: #0CEF8B 1px solid;
}

#dropdownContent a:hover {
    color: #0CEF8B;
    background-color:#756c8a
}

header nav#navigation ul li:nth-of-type(3):hover #dropdownContent {
    animation: dropdownMenu 1s ease-in-out;
    animation-fill-mode: forwards;
}

header nav#navigation ul li:nth-of-type(3):hover #dropdownContent a {
    display:block;
    animation: dropdownMenuLinks 0.72s ease-in-out;
    animation-fill-mode: forwards;
}

header nav#navigation ul li label {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

header div:nth-of-type(2) {
    margin: 0 10% 0 15%;
    padding: 0;
    border-top: #0CEF8B 1px solid;
    border-left: #0CEF8B 1px solid;
    height: 10px;
    width: 75%;
}

header div:nth-of-type(3) {
    margin: 0 50% 0 15%;
    padding: 0;
    border-top: #0CEF8B 1px solid;
    border-right: #0CEF8B 1px solid;
    height: 15px;
    width: 35%;
}

@media screen and (orientation: portrait) and (max-width:767px){

    #dropdownContent {
        position: absolute;
        background-color: #514865;
        top: 155px;
        width: 50px;
        display: flex;
        flex-direction: column;
        z-index: 2;
        border: #0CEF8B 1px solid;
    }

    #dropdownContent a{
        display: none;
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        text-decoration: none;
        padding: 10px 8px;
        background-color: #514865;
        border-right: #0CEF8B 1px solid;
    }
    
    
    #dropdownContent a:hover{
        color: #0CEF8B;
        background-color:#756c8a
    }
    
    header nav#navigation ul li:nth-of-type(3):hover #dropdownContent{
        animation: dropdownMenu 1s ease-in-out;
        animation-fill-mode: forwards;
    }
    
    header nav#navigation ul li:nth-of-type(3):hover #dropdownContent a{
        display:block;
        animation: dropdownMenuLinks 0.72s ease-in-out;
        animation-fill-mode: forwards;
    }
}

@media screen and (orientation: landscape) and (max-width:767px){
    header {
        width: 136px;
        height: 100vh;
        padding:0;
        margin:0;
        justify-content: center;
    }
    header img#logo {
        width: 111px;
        padding-left: 20px;
    }
    header div:nth-of-type(1) {
        margin: 10px 10% 0 0;
    }
    header nav#navigation ul {
        width: 80%;
        padding: 10px 10%;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap:4vh;
    }
    header div:nth-of-type(2) {
        height: 5px;
        border-left:none;
    }
    header div:nth-of-type(3) {
        border-right: none;
    }
    

    #dropdownContent {
        background-color: #514865;
        height: 48px;
        width: auto;  
        top: 246px;
        left: 65px;
        display: flex;
        flex-direction: column;
        z-index: 2;
        border: #0CEF8B 1px solid;
    }
    #dropdownContent a{
        display: none;
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        text-decoration: none;
        padding: 15px 8px;
        background-color: #514865;
        border-right: #0CEF8B 1px solid;
    }
    
    #dropdownContent a:hover{
        color: #0CEF8B;
        background-color:#756c8a
    }
    
    header nav#navigation ul li:nth-of-type(3):hover #dropdownContent{
        animation: dropdownMenuLandscape 1s ease-in-out;
        animation-fill-mode: forwards;
    }
    
    header nav#navigation ul li:nth-of-type(3):hover #dropdownContent a{
        display:block;
        animation: dropdownMenuLinksLandscape 0.72s ease-in-out;
        animation-fill-mode: forwards;
    }
}

@media screen and (min-width:768px){
    header {
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        padding-top: 45px;
    }
    header div:nth-of-type(1) {
        order:-1;
        margin: 0 10% 0 10%;
        width: 80%;
        height: 1px;
    }
    header nav#navigation {
        width: 40%;
    }
    header nav#navigation ul {
        border-right: none;
    }
    header div:nth-of-type(2) {
        margin: 0 15% 0 15%;
        width: 60%;
    }
    header div:nth-of-type(3) {
        margin: 0 50% 0 20%;
        padding: 0;
        border-top: #0CEF8B 1px solid;
        border-right: #0CEF8B 1px solid;
        height: 15px;
        width: 30%;
    }
    #dropdownContent {
        top:85px;
    }

    
}

@keyframes dropdownMenu {
    0%{
        height: 0;
        padding-top: 0;
    }
    50%{
        height: 35px;
        padding-top: 40px;
    }
    100%{
        padding-top: 40px;
        height: 73px;
    }
}

@keyframes dropdownMenuLinks {
    0%{
        width: 0;
    }
    100%{
        width:100px;
    }
}

@keyframes dropdownMenuLinksLandscape {
    0%{
        width: 0;
        margin-left:57px;
        padding-left: 0px;
        height: 0;
    }
    100%{
        width:100px;
        margin-left: 57px;
        padding-left: 20px;
        height: 80px;
    }
}
